
/* TODO: this file is not up to the best standards and will be fixed after an overhaul of the form code */

/**
 * This file provides styles for forms in general and specifically
 * for ?do=
 *   - login
 *   - resendpwd
 *   - register
 *   - profile
 *   - subscribe
 */

/* ---------------- forms ------------------------ */

.dokuwiki form {
  display: inline;
  border: none;
}

.dokuwiki label.block {
  display: block;
  font-weight: bold;
  text-align: right;
}
[dir=rtl] .dokuwiki label.block {
  text-align: left;
}

.dokuwiki label.simple {
  display: block;
  font-weight: normal;
  text-align: left;
}
[dir=rtl] .dokuwiki label.simple {
  text-align: right;
}

.dokuwiki label.block select,
.dokuwiki label.block input.edit {
  width: 50%;
}

.dokuwiki label span {
  vertical-align: middle;
}

.dokuwiki fieldset {
  width: 400px;
  padding: .5em;
  margin: auto;
  text-align: center;
  border: 1px solid __border__;
}


.dokuwiki input.edit,
.dokuwiki select.edit {
  vertical-align: middle;
}
.dokuwiki select.edit {
  padding: .1em 0;
}


.dokuwiki input.button,
.dokuwiki button.button {
  vertical-align: middle;
}
/**
 * Styles for auth forms
 */
#dw__login label[for="remember__me"] {
  margin-bottom: 1.4em;
  margin-left: 50%;
}
#dw__login fieldset,
#dw__resendpwd fieldset,
#dw__register fieldset {
  padding-bottom: .7em;
}


/**
 * Styles for the subscription page
 */

#subscribe__form {
  display: block;
  width: 400px;
  text-align: center;
}

#subscribe__form fieldset {
  margin: .5em 0;
  text-align: left;
}
[dir=rtl] #subscribe__form fieldset {
  text-align: right;
}

#subscribe__form label {
  display: block;
  margin: 0 .5em .5em;
}
