#dokuwiki__sitetools .span12 {
    margin-left: 0px;
}

dl dt,
dl dd {
    padding: 0.2em 0.4em;
}

.dokuwiki ul.idx {
    padding-left: 1.2em;
}

@media (min-width: 980px) {
    #dokuwiki__top {
        margin-top: 60px;
    }
}
.dokuwiki a.urlextern {
    padding-left: 0;
    background-image: none;
}
.dokuwiki a.urlextern:before {
    content: "\e135";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 4px;
    font-size: 8px;
}
#IE6 .dokuwiki a.urlextern,
#IE7 .dokuwiki a.urlextern {
    background-image: none;
    padding-left: 0px;
}
.affix {
    right: 20px
}

.rightalign, td.rightalign {
    text-align: right;
}
.leftalign, td.leftalign {
    text-align: left;
}
.centeralign, td.centeralign {
    text-align: center;
}

@media (max-width: 979px) {
    .navbar-fixed-top .dropdown-toggle {
        display: none;
    }
    .navbar-fixed-top .dropdown-menu {
        display: block;
        margin: 0;
    }
    .navbar-fixed-top .action.top {
        display: none;
    }
}

#IE6 #dokuwiki__content,
#IE7 #dokuwiki__content {
    width: 75%;
    margin: 0;
    padding: 0;
}
#IE6 #dokuwiki__aside,
#IE7 #dokuwiki__aside {
    width: 23%;
    margin: 0 2% 0 0;
    padding: 0;
}
#IE6 .not-header,
#IE7 .not-header {
    margin-top: 60px;
}

#helpful-links .list-group-item-text {
    margin-bottom: 0.2em;
}

/* sidebar */
    .sidebar-page [class^="glyphicon-"],
    .sidebar-page [class*=" glyphicon-"] {
        margin-top: 2px;
    }
    .sidebar-page ul ul {
        display: none;
        margin-left: 0;
        margin-bottom: 2px;
        -webkit-padding-start: 0px;
        padding: 0;
        border-top-width: 1px;
        border-top-style: solid;
    }
    .sidebar-page ul ul > li:first-child > .li {
        border-top: none;
    }
    .sidebar-page ul ul > li > .li {
        padding: 6px 10px 6px 12px;
    }
    .sidebar-page ul ul > li.level2 > .li:before {
        content: "\25E6";
        display: inline-block;
        margin-right: 4px;
    }
    .sidebar-page ul ul > li.level3 > .li:before {
        content: "\2022";
        display: inline-block;
        margin-right: 4px;
        margin-left: 6px;
    }
    .sidebar-page ul ul > li.level4 > .li:before {
        content: "\2023";
        display: inline-block;
        margin-right: 4px;
        margin-left: 12px;
    }
    .sidebar-page ul ul > li.level5 > .li:before {
        content: "\2043";
        display: inline-block;
        margin-right: 4px;
        margin-left: 18px;
    }
    .sidebar-page > ul {
      padding-left: 0;
      margin-bottom: 20px;
    }
    .sidebar-page > ul li {
        list-style: none;
    }
    .sidebar-page > ul .li {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
    }
    .sidebar-page > ul li:first-child .li {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    .sidebar-page > ul li:last-child .li {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .sidebar-page > ul .li > .badge {
      float: right;
    }

/* general button class */
input.button,
a.button,
button.button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
input.button:focus,
a.button:focus,
button.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input.button:hover,
a.button:hover,
button.button:hover,
input.button:focus,
a.button:focus,
button.button:focus {
  color: #ffffff;
  text-decoration: none;
}
input.button:active,
a.button:active,
button.button:active,
input.button.active,
a.button.active,
button.button.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input.button.disabled,
a.button.disabled,
button.button.disabled,
input.button[disabled],
a.button[disabled],
button.button[disabled],
fieldset[disabled] input.button,
fieldset[disabled] a.button,
fieldset[disabled] button.button {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #474949;
  border-color: #474949;
}
input.button:hover,
a.button:hover,
button.button:hover,
input.button:focus,
a.button:focus,
button.button:focus,
input.button:active,
a.button:active,
button.button:active,
input.button.active,
a.button.active,
button.button.active {
  background-color: #3a3c3c;
  border-color: #2e2f2f;
}
input.button.disabled,
a.button.disabled,
button.button.disabled,
fieldset[disabled] .button,
input.button.disabled:hover,
a.button.disabled:hover,
button.button.disabled:hover,
input.button[disabled]:hover,
a.button[disabled]:hover,
button.button[disabled]:hover,
input.button.disabled:focus,
a.button.disabled:focus,
button.button.disabled:focus,
input.button[disabled]:focus,
a.button[disabled]:focus,
button.button[disabled]:focus,
input.button.disabled:active,
a.button.disabled:active,
button.button.disabled:active,
input.button[disabled]:active,
a.button[disabled]:active,
button.button[disabled]:active,
input.button.disabled.active,
a.button.disabled.active,
button.button.disabled.active,
input.button[disabled].active,
a.button[disabled].active,
button.button[disabled].active,
fieldset[disabled] input.button:hover,
fieldset[disabled] input.button:focus,
fieldset[disabled] input.button:active,
fieldset[disabled] input.button.active,
fieldset[disabled] a.button:hover,
fieldset[disabled] a.button:focus,
fieldset[disabled] a.button:active,
fieldset[disabled] a.button.active,
fieldset[disabled] button.button:hover,
fieldset[disabled] button.button:focus,
fieldset[disabled] button.button:active,
fieldset[disabled] button.button.active {
  background-color: #474949;
  border-color: #474949;
}

/* in page edit buttons, btn-mini */
.btn_secedit .button:first-child,
input.button,
.toolbutton {
  *margin-left: 0;
}
.dokuwiki div.toolbar button.toolbutton {
    padding: 2px 10px 4px;
}
.btn_secedit .button,
input.button,
.toolbutton {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn_secedit .button:focus,
input.button:focus,
.toolbutton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn_secedit .button:hover,
.btn_secedit .button:focus,
input.button:hover,
input.button.hover,
input.button:focus,
.toolbutton:hover,
.toolbutton:focus,
.toolbutton.hover {
  color: #ffffff;
  text-decoration: none;
}
.btn_secedit .button.active,
.btn_secedit .button:active,
input.button.active,
input.button:active,
.toolbutton.active,
.toolbutton:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn_secedit .button.disabled,
.btn_secedit .button[disabled],
input.button.disabled,
input.button[disabled],
.toolbutton.disabled,
.toolbutton[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn_secedit .button {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
.btn_secedit .button:hover,
.btn_secedit .button:focus,
.btn_secedit .button:active {
  background-color: #3a3c3c;
  border-color: #2e2f2f;
}
.btn_secedit .button {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.secedit {
            transition: 150ms opacity;
       -moz-transition: 150ms opacity;
    -webkit-transition: 150ms opacity;
}
.page [class^="level"]:hover + .secedit,
.page [class*=" level"]:hover + .secedit,
.page [class^="level"]:focus + .secedit,
.page [class*=" level"]:focus + .secedit {
    opacity: 0.5;
}

.form-horizontal {
    margin-bottom: 0px;
}

/* edit form */
#wiki__text {
    font-family: monospace;
}
.dokuwiki textarea.edit {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#cke_wiki__text {
    margin-bottom: 5px;
}
.editButtons #complex_tables,
.editButtons #complex_tables_label {
    display: none;
}
.dokuwiki #wiki__editbar .editButtons {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.editButtons > .button {
  position: relative;
  float: left;
}
.editButtons > .button:hover,
.editButtons > .button:focus,
.editButtons > .button:active {
  z-index: 2;
}
.editButtons .button + .button {
  margin-left: -1px;
}
.editButtons > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.editButtons > .button:first-child {
  margin-left: 0;
}
.editButtons > .button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.editButtons > .button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.editButtons > input.button:hover,
.editButtons > input.button:focus,
.editButtons > input.button:active,
.editButtons > input.button.active,
#tool__bar > button.toolbutton:hover,
#tool__bar > button.toolbutton:focus,
#tool__bar > button.toolbutton:active,
#tool__bar > button.toolbutton.active {
  z-index: 2;
}
#edbtn__save,
.editButtons input.button[value="Save"] {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
#edbtn__save:hover,
#edbtn__save:focus,
#edbtn__save:active,
#edbtn__save.active,
.editButtons input.button[value="Save"]:hover,
.editButtons input.button[value="Save"]:focus,
.editButtons input.button[value="Save"]:active,
.editButtons input.button[value="Save"].active {
  background-color: #357ebd;
  border-color: #3071a9;
}
.editButtons input.button[value="Revert"] {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.dokuwiki div.section_highlight {
    border-right-width: 0;
}

div.picker button.pickerbutton,
div.picker button.toolbutton {
    background: transparent;
}
#picker2.picker button.pickerbutton,
#picker2.picker button.toolbutton {
    width: 20px;
}
div.picker button.pickerbutton:hover,
div.picker button.toolbutton:hover,
div.picker button.pickerbutton:focus,
div.picker button.toolbutton:focus {
    background: #ccc;
}
.preview th:after {
    content: "Header";
}
.preview td:after {
    content: "content";
}

.dokuwiki #wiki__editbar .summary {
  margin: 10px 0;
  *zoom: 1;
  display: block;
}
.summary:before,
.summary:after {
  display: table;
  line-height: 0;
  content: "";
}
.summary:after {
  clear: both;
}
#dw__register,
#dw__login {
    text-align: left;
}
.block {
    margin-bottom: 15px;
}
select,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="week"],
input[type="phone"],
input[type="email"],
.summary input[type="text"] {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select.quickselect,
.summary input[type="text"] {
    display: inline-block;
    width: 300px;
}
.summary input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.summary input[type="checkbox"] {
    float: left;
    margin: 4px 4px 0 8px;
    line-height: normal;
    padding: 0px;
}
.summary input {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}
.summary label {
    margin-top: 10px;
    font-weight: normal;
}
.dokuwiki #wiki__editbar .summary label,
.dokuwiki div.editBar .summary label {
    white-space: normal;
}
.summary label[for="edit__summary"] {
    margin-bottom: 14px;
}
.summary span {
  text-align: right;
  *display: inline-block;
  padding-right: 5px;
}

.license {
    color: #999;
    display: block;
    margin: 10px 0 0;
    font-size: 0.95em;
}

.navbar-brand {
    max-width: 300px;
}

/* dokuwiki__pagetools */
#dokuwiki__pagetools {
    background: #eee;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#dokuwiki__pagetools ul {
    margin: 10px 15px;
    padding: 0;
}
#dokuwiki__pagetools li {
    list-style: none;
}

#config__manager fieldset {
    width: 100%;border
}
#config__manager fieldset#_basic {
    width: auto;
}
#config__manager .label {
    padding: 0;
    margin: 0;
    line-height: 14px;
}
#config__manager .value {
    padding: 0;
    margin: 0;
}

#dw_toc {
    border-left: 1em solid #fff;
    padding: 0px;
    margin: 0px 0 20px;
    background: #fff;
}
#dw_toc ul li {
    list-style-position: inside;
}
#dw_toc ul {
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0px;
}
#toc_contents ul ul {
    margin-left: .8em;
}

#dokuwiki__aside p {
    margin: 0;
}
ul.nav-list {
    padding: 0;
}
.nav-list ul {
    padding: 0;
}
.nav-list>li>a, .nav-list .nav-header {
    margin: 0;
}
.nav-list .nav-header a {
    color: #666;
    margin: 0;
}
.nav-list div li a {
    margin-right: 0;
    margin-left: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list div {
}
.nav-list li a {
    display: block;
    padding: 3px 15px;
}
.nav-list li ul li a {
    padding: 3px 30px;
}
.nav-list li ul li ul li a {
    padding: 3px 45px;
}
.nav-list div .active a,
.nav-list div .active a:hover,
.nav-list div .active a:focus {border
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}
.nav-list li a:hover,
.nav-list li a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 2px;
}
.nav-list .divider {
    margin: 9px 16px;
}
.nav-list .three-links {
    margin: 0 15px;border
}
.nav-list .three-links a {
    display: inline;
}
.nav-list .three-links a:hover,
.nav-list .three-links a:focus {
    background-color: transparent;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 4px;
}
.nav-list [class^="icon-"].icon-folder-close,
.nav-list [class*=" icon-"].icon-folder-close {
    margin-right: 2px;
}

#dokuwiki__footer {
    margin-top: 10px;
}

#media_manager input[type="checkbox"] {
    display: inline-block;
    margin-bottom: 6px;
}
label span {
    display: inline-block;
    margin-top: 6px;
}
#media_manager label {
    display: inline-block;
}
#media_manager .qq-overwrite-check {
    float: right;
}
#media_manager #media__content a.select {
    display: block;
}
#dw__mediasearch input[type="text"] {
    margin-bottom: 0;
}
#media__tree {
    -ms-word-break: break-all;
        word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
}

#mediamgr_aside {
    display: block;
    float: left;
    width: 32%;
}
#mediamgr_content {
    display: block;
    float: right;
    width: 66%;
}
#media__tree .nav a {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 14px;
}
#media__tree .nav a {
    padding: 1px 5px;
}
#media__tree .nav li ul li a {
    padding: 1px 15px;
}
#media__tree .nav li ul li ul li a {
    padding: 1px 25px;
}

#mediamanager__page .panelContent .actions li {
    display: inline;
}
#mediamanager__page .panelContent .actions li form {
    display: inline-block;
}
#mediamanager__page .panelHeader form.options .ui-buttonset .ui-button-text {
    padding: .3em .5em 0;
}
.panelContent .row {
    margin-left: 0px;
}

label span {
    margin-right: 3px;
    position: relative;
    bottom: 6px;
}
.upload, .maxsize {
    color: #595959; /* simulate help-block for media manager */
    font-size: .9em;
}
.check {
    min-height: 20px;
    padding-left: 20px;
}
label.check span {
    bottom: 0px;
}
.check input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.dokuwiki span.curid a {
    color: #999999;
    font-weight: normal;
}

img.media,
img.img_detail{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#dokuwiki__detail div.img_detail h2 {
    margin-top: 0;
}

div.notify {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border: none;
    background-color: rgb(254, 251, 237);
    margin: 0 0 20px;
    padding: 15px 30px;
    border-left: 5px solid rgb(241, 231, 188);
}

.page h1:first-of-type {
    padding-bottom: 9px;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee;
}
.page table {
  width: 100%;
  margin-bottom: 20px;
}
.page table thead > tr > th,
.page table tbody > tr > th,
.page table tfoot > tr > th,
.page table thead > tr > td,
.page table tbody > tr > td,
.page table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.page table thead > tr > th {
  vertical-align: bottom;
}
.page table caption + thead tr:first-child th,
.page table colgroup + thead tr:first-child th,
.page table thead:first-child tr:first-child th,
.page table caption + thead tr:first-child td,
.page table colgroup + thead tr:first-child td,
.page table thead:first-child tr:first-child td {
  border-top: 0;
}
.page table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.page table tr:first-child th,
.page table tr:first-child td {
    border-top: none;
}
table col[class^="col-"] {
  display: table-column;
  float: none;
}
table td[class^="col-"],
table th[class^="col-"] {
  display: table-cell;
  float: none;
}
.page table table {
  background-color: #ffffff;
}

.page img {
    max-width: 100%;
}
