/*ul.nav-list {
        padding: 0;
    }
    .nav-list ul {
        padding: 0;
    }
    .nav-list>li>a, .nav-list .nav-header {
        margin: 0;
    }
    .nav-list .nav-header a {
        color: #666;
        margin: 0;
    }
    .nav-list div li a {
        margin-right: 0;
        margin-left: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .nav-list div {
    }
    .nav-list li a {
        display: block;
        padding: 3px 15px;
    }
    .nav-list li ul li a {
        padding: 3px 30px;
    }
    .nav-list li ul li ul li a {
        padding: 3px 45px;
    }
    .nav-list div .active a,
    .nav-list div .active a:hover,
    .nav-list div .active a:focus {border
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        background-color: #0088cc;
    }
    .nav-list li a:hover,
    .nav-list li a:focus {
        text-decoration: none;
        background-color: #eeeeee;
    }
    .nav-list [class^="icon-"],
    .nav-list [class*=" icon-"] {
        margin-right: 2px;
    }
    .nav-list .divider {
        margin: 9px 16px;
    }
    .nav-list .three-links {
        margin: 0 15px;border
    }
    .nav-list .three-links a {
        display: inline;
    }
    .nav-list .three-links a:hover,
    .nav-list .three-links a:focus {
        background-color: transparent;
    }
    .nav-list [class^="icon-"],
    .nav-list [class*=" icon-"] {
        margin-right: 4px;
    }
    .nav-list [class^="icon-"].icon-folder-close,
    .nav-list [class*=" icon-"].icon-folder-close {
        margin-right: 2px;
    }*/

img.media,
img.img_detail {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
#dokuwiki__detail div.img_detail h3 {
  margin-top: 0;
}


.page h1:first-of-type {
  padding-bottom: 9px;
  margin: 0 0 10px;
  border-bottom: 1px solid #eee;
}

.page img {
  max-width: 100%;
}
